<%- include('header'); %>

    <div class="box" id="about">
        <h1>About ToDo List</h1>
    </div>
    <div class="box">

        <h2>Skills demonstrated:</h2>
        <div class="item">
            <p>EJS templates</p>
        </div>
        <div class="item">
            <p>Passing data from webpage to server</p>
        </div>

    </div>
    <%- include('footer'); %>