</body>

<footer>


    <div>
        <a href="/">Home</a> | <a href="/work">Work List</a> | <a href="/about">About</a>
    </div>
    <div>
        <p id="copyright">Copyright 2022 Hiroki Kato</p>
    </div>
</footer>

</html>